@import "bootstrap/scss/bootstrap";

::placeholder {
    text-transform: lowercase;
}

body {
    background-color: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.table-container {
    height: 45vh;
}

table tbody tr {
    cursor: pointer;
}

.login {
    width: min(100%, 500px);
}

.client-form {
    width: min(100%, 800px);
}
